{{- /*
Date forms: long | short | iso | year. Always set datetime on <time>.
Interface chrome uses numeric dates; `datetime` stays ISO-8601.
*/ -}}
{{- $date := .date -}}
{{- $form := default "long" .form -}}
{{- $class := default "" .class -}}
{{- if not $date -}}
  {{- errorf "publication/date.html called without a date" -}}
{{- end -}}
{{- $visible := "" -}}
{{- if eq $form "long" -}}
  {{- $visible = $date.Format "02.01.2006" -}}
{{- else if eq $form "short" -}}
  {{- $visible = $date.Format "02.01" -}}
{{- else if eq $form "iso" -}}
  {{- $visible = $date.Format "2006-01-02" -}}
{{- else if eq $form "year" -}}
  {{- $visible = printf "%d" $date.Year -}}
{{- else -}}
  {{- errorf "publication/date.html: unknown form %q (long, short, iso, year)" $form -}}
{{- end -}}
<time{{ with $class }} class="{{ . }}"{{ end }} datetime="{{ $date.Format "2006-01-02T15:04:05Z07:00" }}">{{ $visible }}</time>
