{{- if .Params.content_warnings -}}
<p>{{ partial "publication/summary.txt" . }}</p>
{{ partial "publication/warnings.html" . }}
<p><a href="{{ .Permalink }}">Открыть публикацию на сайте</a></p>
{{- else -}}
  {{- $baseURL := strings.TrimSuffix "/" .Site.BaseURL -}}
  {{- $content := .Content -}}
  {{- $content = replaceRE `href="/([^/])` (printf `href="%s/${1}` $baseURL) $content -}}
  {{- $content = replaceRE `src="/([^/])` (printf `src="%s/${1}` $baseURL) $content -}}
  {{- $content | safeHTML -}}
{{- end -}}
