{{- /*
Prose table: scroll container on narrow screens. Alignment via class (CSP
blocks inline style). Header cells get scope. Region is focusable for keyboard.
*/ -}}
{{- $align := dict "left" " dc-prose-table__cell--left" "center" " dc-prose-table__cell--center" "right" " dc-prose-table__cell--right" -}}
<div class="dc-prose-table" role="region" tabindex="0" aria-label="{{ i18n "tableRegion" }}">
  <table>
    {{- with .THead }}
    <thead>
      {{- range . }}
      <tr>
        {{- range . }}
        <th scope="col" class="dc-prose-table__cell{{ index $align .Alignment }}">{{ .Text }}</th>
        {{- end }}
      </tr>
      {{- end }}
    </thead>
    {{- end }}
    {{- with .TBody }}
    <tbody>
      {{- range . }}
      <tr>
        {{- range . }}
        <td class="dc-prose-table__cell{{ index $align .Alignment }}">{{ .Text }}</td>
        {{- end }}
      </tr>
      {{- end }}
    </tbody>
    {{- end }}
  </table>
</div>
